<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forest.basic.mybatis.dao.ComboboxMapper">
	
	<select id="queryAllRoleList" parameterType="hashmap"
		resultType="hashmap">
		SELECT t.cid AS "id", t.cname AS "name"
		FROM  trole t
		ORDER BY t.cid ASC
	</select>

</mapper>